html,body{
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
}
body{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: center;
	font-size: 4vmin;
}
h1{
	margin: 0;
	padding-top: 18vh;
	font-variant:small-caps;
	font-size: 3em;
}
.subtitle{
  font-size: 1.3em;
  margin: 0;
  font-weight: normal;
}
h2{
	font-size: 2em;
	margin: 0;
  padding-top: 0.3em;
	font-weight: normal;
}
form{
	margin-top: 0.5em;
}
form input{
	display:inline-block;
	font-size: 4vmin;
	height: 2em;
	line-height: 2em;
	vertical-align:middle;
	padding:0;
	margin:0;
}
form input[type=text]{
	width: 15em;
}
form input[type=submit]{
	width: 8em;
}
p{
	text-indent: 1em;
}



#splash{
	height: 100vh;
	padding:0;
	margin:0;
}
input[type=text]{
	background-color: transparent;
	border: none;
	border-bottom: solid 0.3vmin #ccc;
	padding-left: 0.4em;
	/*http://blog.teamtreehouse.com/the-css3-placeholder-pseudo-element*/
	&::input-placeholder {color: #ccc;}
	&::-webkit-input-placeholder {color: #ccc;}
	&:-moz-placeholder { color: #ccc;}
	&::-moz-placeholder { color: #ccc; }
	&:-ms-input-placeholder { color: #ccc; }
}
input[type=text]:focus{
	outline:none;
	box-shadow:none;
	border-bottom: solid 0.6vmin #3F51B5;
	margin-bottom: -0.3vmin;
	background-color: #eee;
	&::input-placeholder {color: #eee;}
	&::-webkit-input-placeholder {color: #eee;}
	&:-moz-placeholder { color: #eee;}
	&::-moz-placeholder { color: #eee; }
	&:-ms-input-placeholder { color: #eee; }
}
input[type=submit]{
	display: inline-block;
	width: 10%;
	background-color: #3F51B5;
	font-weight:bold;
	color: white;
	border: none;
	height: 1.5em;
	line-height: 1.5em;
	padding-bottom: 5vmin;
}
input[type=submit]:focus, input[type=submit]:hover{
	background-color: #596BCF;
}


.stats{
	display: block;
	text-align: center;
	font-size: 0.9em;
	margin: 2em 0 0.5em 0;
}
.stat{
	display:inline-block;
	background-color: #eee;
	padding: 1em;
	width: 9em;
	margin: 0.5em;
}
.stat h3{
	font-size: 2em;
	font-weight: bold;
	margin: 0;
}

.action-arrow{
	display: inline-block;
	height: 2em;
	width: 2em;
	border: solid 0.1em #000;
	border-radius: 0.5em;
	text-align: center;
	transition: background-color 0.5s;
}
.action-arrow:hover{
	background-color: #3F51B5;
}
.action-arrow .arrow-v{
	display: inline-block;
	width:0.7em;
	height:0.7em;
	border-bottom: solid 0.1em #000;
	border-left: solid 0.1em #000;
	transform: rotate(-45deg);
	padding:0;
	margin:0;
	margin-top: 0.4em;
}
.action-arrow:hover .arrow-v{
	border-color: #fff;
}

.infobox{
	vertical-align:top;
	display: inline-block;
	width: 20em;
	padding: 1em;
	background-color: #eee;
	margin: 0.5em;
	text-align: left;
	font-size: 0.7em;
}
.infobox h3{
	text-align: center;
	margin: 0;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

#donate{
	display: inline;
}
#donate input[type=submit]{
	font-size: 0.7em;
	width: auto;
	padding: 0em 0.5em;
	vertical-align: 0.1em;
	line-height: 1em;
	margin: 0;
}

	
footer{
	text-align: center;
	color: #999;
	font-size: 0.5em;
	bottom: 1em;
	left: 50%;
	line-height: 1.3em;
	padding: 2em;
	margin-top: 0em;
}
footer p{
	margin:0;
}
footer a{
	color: #bbb;
}
