/*
main.scss
Main Sass stylesheet for SocSem
*/

/*from Material Design Lite*/
$mdl-red: #F44336;
$mdl-pink: #E91E63;
$mdl-purple: #9C27B0;
$mdl-deep-purple: #673AB7;
$mdl-indigo: #3F51B5;
$mdl-light-indigo: #596BCF;/* http://www.hexcolortool.com/ */
$mdl-blue: #2196F3;
$mdl-light-blue: #3BB0FF;/* http://www.hexcolortool.com/ */

body {
  margin: 0;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
header,footer{
	position:fixed;
	box-shadow: 0 1.5vmin 1.5vmin rgba(0,0,0,0.3), 0 -1.5vmin 1.5vmin rgba(0,0,0,0.3);
	width:100%;
	
	height:10vh;
	line-height:10vh;
	
	background-color: gray;
	color: white;
}
header{
	top:0;
	overflow-y: visible;
	overflow-x: visible;
	font-size: 4vh;
	.logos{
		#logo, #backbtnsmall{
			display:inline-block;
			text-decoration: none;
			padding: 0 1em;
			font-weight: bold;
			color: inherit;
		}
		#logo{
			@media(max-aspect-ratio: 3/4){display:none;}
			font-variant:small-caps;
		}
		#backbtnsmall{
			@media(min-aspect-ratio: 3/4){display:none;}
		}
		margin:0;
		position: absolute; left: 0;/*to not uncenter the h1*/
		background-color: transparent;
		transition: background-color 0.5s;
	}
	.logos:hover{
		background-color: rgba(255,255,255,0.2);
		cursor: pointer;
	}
	h1{
		font-size: 1.5em;
		clear: none;
		a{
			display:inline-block;
			color:inherit;
			text-decoration: none;
			padding: 0 2em;
			background-color: transparent;
			transition: background-color 0.5s;
		}
		a:hover{
			background-color: rgba(255,255,255,0.2);
			cursor: pointer;
		}
		margin:0;
		text-align:center;
	}
	/*https://css-tricks.com/three-line-menu-navicon/*/
	.admin-drawer-icon {
		padding: 0 1.25em;
		background-color: transparent;
		transition: background-color 0.5s;
		position: absolute;right: 0; /*to not uncenter the h1*/
	}
	.admin-drawer-icon:hover{
		background-color: rgba(255,255,255,0.2);
		cursor: pointer;
	}
	.admin-drawer-icon:before {
		content: "";
		display: inline-block;
		width: 1.3em;
		height: 0.2em;
		background: white;
		box-shadow: 
			0 -0.4em 0 0 white,
			0 -0.8em 0 0 white;
	}
}
main{
	overflow-y:scroll;
	padding-top: 10vh;
	padding-bottom: 10vh;
	overflow-y: hidden;
	height: 80vh;
	
	#newmsgalert{
		cursor: pointer;
		background-color: #999;
		color: white;
		opacity: 0.6;
		font-weight: bold;
		position: fixed;
		width: 10em;
		margin-left: -5em;
		left: 50%;
		text-align: center;
		padding: 2px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		bottom:-2em;
		transition: bottom 1s;
	}
	&.unread #newmsgalert{
		bottom: 10vh;
	}
	ul#messages{
		box-sizing: border-box;
		margin:0;
		padding:0;
		list-style:none;
		height: 100%;
		overflow-y: scroll;
		opacity: 0;
		transition: opacity 3s;
		
		div#msgwrap{
			box-sizing: border-box;
			min-height: 80vh;
			border-top:solid 2.5vmin rgba(0,0,0,0.3);
			border-bottom:solid 2.5vmin rgba(0,0,0,0.3);
			@media(max-width:600px){padding: 0;}
			@media(min-width:600px){padding: 0 20%;}
		}
		#loadmsg{
			opacity: 0.5;
			text-align:center;
			padding-top:20vh;
			font-size:20vmin;
		}
		#nomsgmsg{
			opacity: 0.5;
			text-align:center;
			padding-top:20vh;
			font-size:10vmin;
		}
		li.message.firstline:first-child{
			padding-top: 0;
		}
		li.message:first-child .from{
			border: none;
		}
		li.message:last-child{
			padding-bottom: 1em;
		}
		
		li.message{
			.from{
				font-weight:bold;
				padding:0.3em;
				display:block;
				border-top: solid 1px #000;
			}
			.content{
				margin-left: 1em;
			}
			&.firstline{
				padding-top: 1em;
			}
		}
	}
}
footer{
	bottom: 0;
	font-size: 3vh;
	#footermsg{
		display: inline-block;
		@media(max-aspect-ratio: 1/1){display:none;}
		margin-left: calc(18vw - 5em);
		width: 5em;
		padding-right:2%;
		font-size: 1.5em;
		vertical-align:top;
		text-align: right;
		background-color: transparent;
		transition: background-color 0.5s;
	}
	#footermsg:hover{
		background-color: rgba(255,255,255,0.2);
		cursor: pointer;
	}
	form{
		display: inline-block;
		@media(min-aspect-ratio: 1/1){width: 60%;}
		@media(max-aspect-ratio: 1/1){width: 95%;padding-left:5%;}
		input[type=text]{
			background-color: transparent;
			outline:none;
			box-shadow:none;
			border: none;
			padding: 0.1em 0.3em;
			border-bottom: solid 0.3vmin #ccc;
			/*http://blog.teamtreehouse.com/the-css3-placeholder-pseudo-element*/
			&::input-placeholder {color: #ccc;}
			&::-webkit-input-placeholder {color: #ccc;}
			&:-moz-placeholder { color: #ccc;}
			&::-moz-placeholder { color: #ccc; }
			&:-ms-input-placeholder { color: #ccc; }
		}
		input[type=text]:focus{
			outline:none;
			box-shadow:none;
			border-bottom: solid 0.6vmin $mdl-indigo;
			background-color: rgba(255,255,255,0.2);
			&::input-placeholder {color: #eee;}
			&::-webkit-input-placeholder {color: #eee;}
			&:-moz-placeholder { color: #eee;}
			&::-moz-placeholder { color: #eee; }
			&:-ms-input-placeholder { color: #eee; }
		}
		#username{width:20%;}
		#newmsg{width:65%;}
		input[type=submit]{
			display: inline-block;
			width: 10%;
			background-color: $mdl-indigo;
			font-weight:bold;
			color: inherit;
			border: none;
			height: 1.5em;
			line-height: 1.5em;
			padding: 0 0 1.6em 0;
			vertical-align: baseline;
		}
		input[type=submit]:focus, input[type=submit]:hover{
			background-color: $mdl-light-indigo;
			border: none;
			outline:none;
		}
	}
}
#smoothalerts{
	position:fixed;
	left: 0;
	top: 5em;
	width: 20%;
	.alert{
		padding: 1em;
		margin:0.5em;
		border-radius: 0.5em;
		transition: opacity 2s;
	}
	.alert.pos{
		color:#fff;
		background-color:#0c0;
	}
	.alert.neut{
		color:#fff;
		background-color:#000;
	}
	.alert.neg{
		color:#fff;
		background-color:#c00;
	}
}
