body {
  margin: 0;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  color: white; }
  header h2 {
    float: left;
    position: absolute;
    margin: 0; }
    header h2 a {
      display: inline-block;
      font-variant: small-caps;
      color: white;
      text-decoration: none;
      padding: 0.5em; }
  header h1 {
    font-size: 2em;
    margin: 0;
    text-align: center; }
    header h1 a {
      display: inline-block;
      color: white;
      text-decoration: none;
      height: 2.5em;
      line-height: 2.5em;
      padding: 0 2em; }

main {
  box-sizing: border-box;
  height: calc(100vh-70px-64px);
  overflow-y: scroll;
  padding-top: 5em;
  padding-bottom: 5em;
  overflow-y: hidden;
  height: 100vh; }
  main ul#messages::after {
    content: "new messages";
    background-color: #999;
    color: white;
    opacity: 0.6;
    font-weight: bold;
    position: fixed;
    width: 10em;
    margin-left: -5em;
    left: 50%;
    text-align: center;
    padding: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    bottom: 3em;
    transition: bottom 1s; }
  main ul#messages.unread::after {
    bottom: 5em; }
  main ul#messages {
    box-sizing: border-box;
    padding: 0 20%;
    margin: 0;
    list-style: none;
    height: 100%;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 2s; }
    main ul#messages li.message.firstline:first-child {
      padding-top: 0; }
    main ul#messages li.message:first-child .from {
      border-width: 10px; }
    main ul#messages li.message:last-child {
      padding-bottom: 1em;
      border-bottom: solid 10px #000; }
    main ul#messages li.message .from {
      font-weight: bold;
      padding: 0.3em;
      display: block;
      border-top: solid 1px #000; }
    main ul#messages li.message .content {
      margin-left: 1em; }
    main ul#messages li.message.firstline {
      padding-top: 1em; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5em; }
  footer form {
    padding-left: 20%; }
    footer form .input input {
      background-color: transparent;
      border: none;
      border-bottom: solid 1px #999;
      outline: none;
      box-shadow: none; }
    footer form .input {
      display: inline-block; }
    footer form .input::after {
      content: "";
      width: 100%;
      height: 3px;
      color: #3F51B5;
      display: block;
      z-index: 10000000;
      position: fixed; }
    footer form .input input:focus {
      outline: none;
      box-shadow: none; }

#smoothalerts {
  position: fixed;
  left: 0;
  top: 5em;
  width: 20%; }
  #smoothalerts .alert {
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    transition: opacity 2s; }
  #smoothalerts .alert.pos {
    color: #fff;
    background-color: #0c0; }
  #smoothalerts .alert.neut {
    color: #fff;
    background-color: #000; }
  #smoothalerts .alert.neg {
    color: #fff;
    background-color: #c00; }

/*# sourceMappingURL=style.css.map */
